<template>
  <div class="w-full px-8 flex flex-col justify-center mt-8">
    <div class="flex flex-row items-end relative">
      <h3 class="number-text z-4">1.</h3>

      <div class="flex flex-col pl-4 z-4">
        <div>
          <img
            :src="require(`~/assets/svg/${images[0]}`)"
            alt="Step 1"
            class="svg-image ml-4-n"
          />
        </div>
        <div class="step-text pb-4 mt-10"><span v-html="texts[0]" /></div>
      </div>
      <img
        src="~/assets/svg/circle1.svg"
        alt="Circle"
        class="absolute circle-1 z-1"
      />
    </div>

    <div class="flex flex-col mt-16 pl-8 relative">
      <div class="flex flex-row items-end">
        <div class="number-text z-4">2.</div>
        <div class="step-text pb-4 pl-4 z-4"><span v-html="texts[1]" /></div>
      </div>
      <img
        :src="require(`~/assets/svg/${images[1]}`)"
        alt="Step 2"
        class="svg-image mt-6 mx-auto z-4"
      />
      <img
        src="~/assets/svg/wave2.svg"
        alt="Wave"
        class="absolute wave-2 z-2"
      />
    </div>

    <div class="flex flex-col mt-16 mb-24 pl-16 pb-8 relative">
      <div class="flex flex-row items-end z-4">
        <div class="number-text">3.</div>
        <div class="step-text pl-4 pb-4"><span v-html="texts[2]" /></div>
      </div>
      <img
        :src="require(`~/assets/svg/${images[2]}`)"
        alt="Step 3"
        class="svg-image ml-auto z-4"
      />
      <img
        src="~/assets/svg/circle1.svg"
        alt="Wave"
        class="absolute circle-3 z-1"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "LandingInstructions",
  props: {
    texts: {
      type: Array,
    },
    images: {
      type: Array,
    },
  },
};
</script>

<style scoped>
.number-text {
  font-size: 120px;
  line-height: 120px;
  color: #718096;
}
.step-text {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.47px;
  color: #718096;
}
.svg-image {
  width: 400px;
}
.ml-4-n {
  margin-left: -20px;
}
.circle-1 {
  left: -25%;
  top: 50%;
  height: 250px;
}
.wave-2 {
  left: -25%;
  top: -10%;
  max-width: 150%;
}
.circle-3 {
  left: -15%;
  top: -10%;
  height: 250px;
}
</style>
