<template>
  <div class="bg-gray-200 min-h-screen justify-items-center w-full">
    <div class="mx-auto relative w-max-500 bg-white">
      <div class="fixed top-0 w-max-500 w-full z-top">
        <div class="h-2 top-content-bar"></div>
        <div
          class="bg-white rounded-b-xl text-right flex justify-end items-center shadow-lg"
        >
          <p class="pr-5 primary py-6">Login</p>
        </div>
      </div>
      <div
        class="px-5 shadow-sm bg-white rounded-t-xl shadow-t-lg registration-button-container fixed bottom-0 w-full w-max-500"
      >
        <button
          class="button-gradient-primary mt-12 mb-4 py-4 rounded-xl w-full text-white"
        >
          Kostenlos Registrieren
        </button>
      </div>

      <div class="light-gradient text-center pt-100">
        <h1 class="pt-6 login-header pb-6">Deine Job <br />Website</h1>
        <img
          src="~/assets/svg/hand_agreement.svg"
          alt="Handshake-agreement"
          class="w-full pb-20"
        />
      </div>

      <div class="main-content flex flex-col items-center pb-8 mt-8">
        <div class="w-full">
          <div
            class="flex flex-row flex-shrink mt-4 overflow-x-auto px-5"
            id="button-group"
          >
            <button
              :class="`button-group-item  rounded-l-xl py-3 ${
                selectedOption === 'Arbeitnehmer'
                  ? 'button-group-item-active text-white'
                  : 'border primary'
              }`"
              @click="selectedOption = 'Arbeitnehmer'"
            >
              Arbeitnehmer
            </button>
            <button
              :class="`button-group-item  ${
                selectedOption === 'Arbeitgeber'
                  ? 'button-group-item-active text-white'
                  : 'border primary'
              }`"
              @click="selectedOption = 'Arbeitgeber'"
            >
              Arbeitgeber
            </button>
            <button
              :class="`button-group-item  rounded-r-xl py-3 ${
                selectedOption === 'Temporärbüro'
                  ? 'button-group-item-active text-white'
                  : 'border primary'
              }`"
              @click="selectedOption = 'Temporärbüro'"
            >
              Temporärbüro
            </button>
          </div>
        </div>
        <div v-for="item in options" :key="item">
          <div v-if="item === selectedOption">
            <div class="w-full px-5 text-center mt-3">
              <h2
                class="text-3xl secondary-text fade-in"
                v-html="getContentHeader(selectedOption)"
              ></h2>
            </div>
            <landing-instructions
              :texts="getTextsArray(selectedOption)"
              :images="getImagesArray(selectedOption)"
              class="fade-in"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import LandingInstructions from "~/components/landing-instructions.vue";

export default Vue.extend({
  components: { LandingInstructions },
  name: "IndexPage",
  data: () => {
    return {
      selectedOption: "Arbeitnehmer",
      options: ["Arbeitnehmer", "Arbeitgeber", "Temporärbüro"],
    };
  },
  methods: {
    getContentHeader(option: String) {
      switch (option) {
        case "Arbeitgeber": {
          return "Drei einfache Schritte<br/>zu deinem neuen Mitarbeiter";
        }
        case "Temporärbüro": {
          return "Drei einfache Schritte zur<br/>Vermittlung neuer Mitarbeiter";
        }
        default: {
          return "Drei einfache Schritte<br/>zu deinem neuen Job";
        }
      }
    },
    getTextsArray(option: String) {
      switch (option) {
        case "Arbeitgeber": {
          return [
            "Erstellen dein <br/>Unternehmensprofil",
            "Erstellen ein Jobinserat",
            "Wähle deinen <br/>neuen Mitarbeiter aus",
          ];
        }
        case "Temporärbüro": {
          return [
            "Erstellen dein <br/>Unternehmensprofil",
            "Erhalte Vermittlungs- <br/>angebot von Arbeitgeber",
            "Vermittlung nach<br/> Provision oder<br/> Stundenlohn",
          ];
        }
        // case for Arbeitnehmer as well
        default: {
          return [
            "Erstellen dein Lebenslauf",
            "Erstellen dein Lebenslauf",
            "Mit nur einem Klick <br/> bewerben",
          ];
        }
      }
    },
    getImagesArray(option: String) {
      switch (option) {
        case "Arbeitgeber": {
          return ["profile_data.svg", "about_me.svg", "swipe_personal.svg"];
        }
        case "Temporärbüro": {
          return ["profile_data.svg", "job_offers.svg", "business_deal.svg"];
        }
        // case for Arbeitnehmer as well
        default: {
          return ["profile_data.svg", "task.svg", "personal_file.svg"];
        }
      }
    },
  },
});
</script>

<style>
.primary {
  color: #319795;
}

.secondary-text {
  color: #4a5568;
}

.w-max-500 {
  max-width: 500px;
}

.light-gradient {
  background-image: url("~/assets/svg/wave1.svg");
  background-size: auto 100%;
}

.top-content-bar {
  background: transparent linear-gradient(91deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
}

.login-header {
  font-size: 50px;
  line-height: 55px;
  color: #2d3748;
}

.registration-button-container {
  box-shadow: 0 -5px 5px -5px #707070;
  z-index: 10;
}

.button-gradient-primary {
  background: transparent linear-gradient(95deg, #2c7a7b 0%, #2b6cb0 100%) 0% 0%
    no-repeat padding-box;
}

.button-group-item {
  min-width: 60%;
  font-size: 18px;
}

.button-group-item-active {
  background: #81e6d9;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.fade-in {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pt-100 {
  padding-top: 100px;
}

.z-top {
  z-index: 20;
}

.z-4 {
  z-index: 4;
}
.z-3 {
  z-index: 3;
}

.z-2 {
  z-index: 2;
}

.z-1 {
  z-index: 1;
}
</style>
